*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #FFF; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

img {
  vertical-align: middle;
  border-style: none; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[hidden] {
  display: none !important; }

.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; }

.bottom-separator {
  border-bottom: 1px solid #f1f2f2; }

a, a:visited, a:hover, a:focus, a:active {
  color: #6d6e71; }

.btn-primary {
  background: #27aae1;
  padding: 7px 25px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  border-radius: 30px; }

.greyBorder {
  border: 4px solid #27aae1; }

.beBold {
  font-weight: bold; }

.text-muted {
  color: #939598; }

.centered {
  text-align: center; }

.bigBall {
  position: relative;
  width: 100%;
  padding-top: 100%; }
  .bigBall .imgBlock {
    margin: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .bigBall .imgBlock .imgBlockContent {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center; }
      .bigBall .imgBlock .imgBlockContent .bigBallInfo {
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        padding: 4px;
        position: absolute;
        transition: .5s ease;
        opacity: 0;
        cursor: pointer; }
        .bigBall .imgBlock .imgBlockContent .bigBallInfo .under {
          width: 100%;
          height: 100%;
          padding-top: 20px;
          text-align: center; }
    .bigBall .imgBlock:hover .bigBallInfo {
      opacity: 1; }

.ballText {
  margin-top: 0px;
  text-align: center;
  width: 80%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px; }

.cutText {
  margin-top: 0px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#footer {
  background: #fff;
  position: relative; }
  #footer h5 {
    color: #27aae1; }
  #footer::before {
    content: "";
    background: linear-gradient(to right, #ffffff 0%, #53cbf1 50%, #ffffff 100%);
    height: 5px;
    width: 100%;
    position: absolute; }
  #footer .copyright {
    background: #231F20;
    text-align: center;
    color: #fff;
    padding: 12px 0 4px; }

.left-content-site {
  padding-top: 55px; }

#profile-card {
  background: linear-gradient(to bottom, rgba(39, 170, 225, 0.8), rgba(28, 117, 188, 0.8));
  width: 100%;
  min-height: 90px;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  margin-bottom: 40px;
  position: relative; }
  #profile-card #profil_picture_main {
    position: absolute;
    bottom: -20px;
    left: 10px;
    width: 80px;
    height: 80px; }
  #profile-card .profile_name {
    margin-left: 80px;
    line-height: 0px;
    margin-top: 20px; }

.myNav ul {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 40px 0; }
  .myNav ul li {
    list-style: none;
    display: block;
    padding: 15px 0; }
    .myNav ul li.news {
      font-weight: bold; }
    .myNav ul li i {
      font-size: 21px;
      margin-right: 15px;
      float: left;
      line-height: 22px; }
    .myNav ul li div {
      position: relative;
      margin-left: 30px; }

.content-site {
  padding: 55px 10px 0px 20px; }
  .content-site > .lineContents:first-child h4 {
    margin-top: 0px; }
  .content-site .lineContents {
    padding-bottom: 20px;
    margin-bottom: 10px; }

.gymInfo {
  margin-top: 0px;
  text-align: center;
  width: 80%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px; }

.usersLine {
  padding-right: 0;
  padding-left: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: #6d6e71; }

a, a:visited, a:hover, a:focus, a:active {
  color: #6d6e71; }
